.fa-plus-circle,
.fa-filter,
.fa-times {
  color: #419970;
  font-size: x-large;
  cursor: pointer;
}
.fa-plus-circle:hover,
.fa-filter:hover,
.fa-times:hover {
  color: #316b50;
  /* font-size: xx-large; */
  cursor: pointer;
}

.bg-color {
  background-color: #419970;
}
.text-color {
  color: #419970;
}
.assesment-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > .nav-item > .active {
  background-color: #419970 !important ;
  width: 10rem;
}

.nav > .nav-item > .active:hover {
  color: #ffffff !important ;
}

.somestyle {
  width: 8rem;
}

.navcolor {
  border-radius: 4px !important;
  text-align: center;
}

.nav-link:hover {
  color: #419970 !important;
}

.card-header {
  border: none !important;
  color: rgb(0, 0, 0);
}

.random {
  color: #fcfcfc;
  background-color: #994156;
  padding: 4px;
}

.line {
  border: 1px solid #419970;
}
.line-2 {
  border-color: #419970;
}

thead {
  background-color: #419970 !important;
}
th {
  color: white;
}

table {
  text-align: center;
  /* justify-content: center; */
}

.btn-add {
  background-color: #419970;
  width: 70%;
}

.modal-footer,
.modal-header {
  border: none;
}

.color {
  color: rgb(196, 196, 196);
}

.color:hover {
  color: black;
}

/* .content {
  background-color: #fbf8f2;
} */

.navcolor {
  background-color: #e8eaf0;
}

.bg-white {
  border: 30px;
}

#container {
  height: 400px;
}
#container {
  height: 400px;
}

.specialHeader {
  padding: 0;
}

.sticky-sidebar-right {
  margin-right: 15rem;
}

#pin {
  cursor: pointer;
}

.content {
  background-color: #fbf8f2;
  transition: 0.4s;
}
